/* GENERAL */
body {
	font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
	color: black;
	background-color: white;
}

a {
	color: darkblue;
}

h2 {
	margin-top: 0;
}

hr {
	height: 5px;
	background-color: black;
}

/* NAVIGATION BAR */
ul {
	padding-left: 0;
	background-color: black;
	height: 50px;
	width: 100%;
}

li {
	list-style: none;
	float: left;
}

ul a {
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	display: block;
}

ul a:hover {
	color: black;
	background-color: gainsboro;
}

/* HOME */
#fighome {
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: gainsboro;
	margin-top: 0;
	margin-left: 0;
	margin-right: 10px;
	width: 22.5%;
}

#home {
	width: 100%;
}

/* OVERVIEW */
#organisms {
	position: relative;
	table-layout: auto;
	float: left;
	font-size: 15px;
	border-collapse: collapse;
	width: 49.5%;
	background-color: gainsboro;
}

#proteins {
	position: relative;
	table-layout: auto;
	float: right;
	font-size: 15px;
	border-collapse: collapse;
	width: 49.5%;
	background-color: gainsboro;
}

/* GRAPHS */
#graphsleft {
	float: left;
	width: 49%;
	background-color: gainsboro;
}

#graphsright {
	float: right;
	width: 49%;
	background-color: gainsboro;
}

#graphs {
	width: 100%;
}

/* DATABASE */
aside {
	position: sticky;
	top: 0;
	padding: 10px;
	width: 14%;
	float: left;
	background-color: gainsboro;
}

#search {
	width: 75%;
}

#identities {
	width: 35%;
}

#expect {
	width: 35%;
}

#section {
	width: 84%;
	float: right;
	background-color: gainsboro;
}

#database {
	position: relative;
	table-layout: auto;
	font-size: 15px;
	border-collapse: collapse;
	width: 100%;
}

th {
	position: sticky;
	top: 0;
	font-weight: bold;
	text-align: left;
	color: white;
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: black;
}

tr:hover {
	background-color: white;
}

td {
	vertical-align: top;
	padding: 10px;
}

td a {
	text-decoration: none;
	display: block;
}

/* DETAILS */
#result {
	position: relative;
	table-layout: fixed;
	font-size: 15px;
	border-collapse: collapse;
}

#result td {
	text-align: left;
}

#alignment {
	font-family: "Courier New", monospace;
}

#alignment td {
	text-align: left;
	white-space: pre;
}

/* ABOUT */
#logo {
	float: right;
	width: 330px;
}
