/* general design */
body {
	font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
	color: black;
	background-color: white;
}

h2 {
	margin-top: 0;
}

hr {
	height: 5px;
	background-color: black;
}

/* navigation bar design */
ul {
	padding-left: 0;
	background-color: black;
	height: 50px;
	width: 100%;
}

li {
	list-style: none;
	float: left;
}

ul a {
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	display: block;
}

ul a:hover {
	color: black;
	background-color: gainsboro;
}

/* HOME */
#fighome {
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: gainsboro;
	margin-top: 0;
	margin-left: 0;
	margin-right: 10px;
	width: 22.5%;
}

#home {
	width: 100%;
}

/* database design */
#database {
	position: relative;
	table-layout: auto;
	font-size: 15px;
	border-collapse: collapse;
	width: 100%;
}

th {
	position: sticky;
	top: 0;
	font-weight: bold;
	text-align: left;
	color: white;
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: black;
}

tr:hover {
	background-color: white;
}

td {
	vertical-align: top;
	padding: 10px;
}

td a {
	text-decoration: none;
	display: block;
}
