{% extends "base.html" %}

{% block title %}
    Details {{ result[0] }}
{% endblock %}

{% block content %}
    <!-- Title of the page, in this case the header and read the result came from. -->
    <h2> {{ result[1] }} read {{ result[2] }} </h2>

    <!-- Seperating line between title/summary and the content. -->
    <hr>

    <!-- Contains information about the organism and the protein. Like in the database, the scientific name and
     the name of the protein link to other databases. If there is a description available in the database, it will
     show on this page as well. If not, it shows "not available". The same goes for the in_compost-column. -->
    <h3>
        Organism & protein
    </h3>
    <table id="result">
        <tr>
            <td width="100px">Domain</td>
            <td>{{ result[4] }}</td>
        </tr>
        <tr>
            <td width="100px">Scientific</td>
            <td>
                <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ result[19] }}">{{ result[5] }}</a>
            </td>
        </tr>
        <tr>
            <td width="100px">Protein</td>
            <td><a href="https://www.ncbi.nlm.nih.gov/protein/{{ result[6] }}">{{ result[7] }}</a></td>
        </tr>
        <tr>
            <td width="100px">Description</td>
            <td>
                {% if result[8] %}
                    {{ result[8] }}
                {% else %}
                    (not available)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="100px">In compost?</td>
            <td>
                {% if result[9] %}
                    {{ result[9] }}
                {% else %}
                    (not available)
                {% endif %}
            </td>
        </tr>
    </table>
    <br>

    <!-- Contains information about the results. This is practically what's on the database-page, but this time
    in exact numbers. -->
    <h3>
        Results
    </h3>
    <table id="result">
        <tr>
            <td width="100px">Alignment</td>
            <td>{{ result[10] }} amino acids</td>
        </tr>
        <tr>
            <td width="100px">Expect</td>
            <td>{{ result[12] }}</td>
        </tr>
        <tr>
            <td width="100px">Score</td>
            <td>{{ result[11] }} bits</td>
        </tr>
        <tr>
            <td width="100px">Identities</td>
            <td>{{ result[13] }} amino acids</td>
        </tr>
        <tr>
            <td width="100px">Positives</td>
            <td>{{ result[14] }} amino acids</td>
        </tr>
        <tr>
            <td width="100px">Gaps</td>
            <td>{{ result[15] }}</td>
        </tr>
    </table>
    <br>

    <!-- Contains the alignment. The subject is the sequence found by BLAST, the query is the part of the sequence
    that was entered by us. The midline shows indentities, similarities, mismatches and gaps. -->
    <h3>
        Alignment
    </h3>
    <table id="alignment">
        <tr>
            <td width="100px">Subject</td>
            <td>{{ result[16] }}</td>
        </tr>
        <tr>
            <td width="100px">Midline</td>
            <td>{{ result[17] }}</td>
        </tr>
        <tr>
            <td width="100px">Query</td>
            <td>{{ result[18] }}</td>
        </tr>
    </table>
    <hr>
{% endblock %}
