{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <!-- Title of the page. -->
    <h2>Welcome</h2>

    <!-- Summary of the page. -->
    <p>
        insert summary of the page
    </p>

    <!-- Seperating line between title/summary and the content. -->
    <hr>

    <!-- Clicking on the images leads to the corresponding pages. Shows a short summary of each page. -->
    <!-- leads to the page to import user metabolic Excel file -->
    <figure id="fighome">
        <a href="read_excel.html"><img src="../static/excel_pic.png" id="home" width="250" height="250"></a>
        <figcaption>
            <b>Read excel file</b>
            <br>
            Read an Excel-file.
        </figcaption>
    </figure>

    <!-- leads to the results page -->
    <figure id="fighome">
        <a href="results.html"><img src="../static/sunburst_pic.png" id="home" width="250" height="250"></a>
        <figcaption>
            <b>Results</b>
            <br>
            Visualisation of the textmining results.
        </figcaption>
    </figure>

    <!-- leads to the database page -->
    <figure id="fighome">
        <a href="database.html"><img src="../static/database.png" id="home" width="250" height="250"></a>
        <figcaption>
            <b>Database</b>
            <br>
            View the database..
        </figcaption>
    </figure>


{% endblock %}
